construct>=2.9.45
pycryptodomex>=3.7.2
aiohttp>=3.5.4
click>=7.0
windows-curses>=2.1.0; platform_system=="Windows"

flake8==3.7.9
pylint==2.3.0
pytest-asyncio==0.10.0
asynctest==0.13.0
pytest-cov==2.8.1
codecov==2.0.15
